*{
    font-family: 'Poppins', sans-serif;
}
li{
    list-style: none;
}
.background-1{
background-image:url('../images/banner.png');
background-repeat: no-repeat;
background-position: center;
height: 100vh;
}

.background-2{
    background-image:url('../images/baner.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.background-3{
    background-image:url('../images/ban.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.sec{

    margin-top: 60px;
    margin-bottom: 60px;
}