.background-1{

background-image:url('../images/banner.png');
background-repeat: no-repeat;
background-size: cover;
width: 100vw;
height: 100vh;
}
.background-2{
    
    background-image: ;

}

.background-3{

   background-image: ;
    
}